<html>
    <head>
        <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link rel="stylesheet" href="/stylesheets/project.css"/>

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
   <script src="/javascripts/project.js"></script>
</head>

<body>  
    <% if(status==false) {%>
        <h2> <%= data %> </h2>
       <% } else { %>
        <div class="mainContainer">
            <div class="box">

            
    <table class="striped">
        
            <div class="headingBox">
                <div class="headingText">
                    List Of Products
                </div>
            </div><br>
            <thead>
        <tr>
          <th>Product Id </th>
          <th>Category Id </th>
          <th>Product Name </th>
          <th>Description </th>
          <th>Price</th>
          <th>Rating </th>
          <th>Status </th>
          <th>Picture </th>
          
        </tr>
    </thead>
    <tbody>
    <% data.map((item)=>{%>
    <tr>
        <td>
            <%= item.productid %>
        </td>
        <td>
            <%= item.categoryname %><br>
            <%= item.subcategoryname %>
        </td>
            <td>
            <%= item.productname %><br>
            <%= item.brandname %>
        </td>
        <td>
            <%= item.description %></td>

            <td><%if(item.offerprice>0) { %> 
                <div style="color: blueviolet;">  <s><%= item.price %></s></div>
           <div style="color: darkgoldenrod;"><%= item.offerprice %></div> 
            <% } else {%>
                <div style="color: darkgoldenrod;"><%= item.price %></div> 
            <%} %>
            
         Stock : <%= item.stock %>
        </td>
        
           <td > <%= item.ratings %></td>
           <td> <%= item.status %></td>
           <td><img src="/images/<%= item.picture %> " width="100" style="border-radius:20px;"></td>

        
    </tr>
    <% }) %>
</div>
</div>
</tbody>
    </table> 
    
    
<!-- Dialog Product -->



<!-- Modal Structure -->


<div id="product" class="modal">
  <div class="modal-content" style="color: blueviolet; background-color: brown;" >
  
   
    
        
        <div class="box">
        <div class="headingBox">
        <div class="headingText"> 
            PRODUCT INTERFACE
        </div>   
        </div>
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">next_week</i>
                <select name="categoryid" id="categoryid">
                  <option value="" disabled selected>Choose your option</option>                 
                </select>
                <label>Categories</label>
              </div>
              <div class="input-field col s4">
                <i class="material-icons prefix">grid_on</i>
                <select name="subcategoryid" id="subcategoryid">
                  <option value="" disabled selected>Choose your option</option>                 
                </select>
                <label>Sub Categories</label>
              </div>
              <div class="input-field col s4">
                <i class="material-icons prefix">new_releases</i>
                <select name="brandid" id="brandid">
                  <option value="" disabled selected>Choose your option</option>                 
                </select>
                <label>Brands</label>
              </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">shopping_cart</i>
                <input id="productname" name="productname" type="text" class="validate" required>
                <label for="productname">Product Name</label>
              </div>
       
        
            <div class="input-field col s6">
                <i class="material-icons prefix">description</i>
                <input id="description" name="description" type="text" class="validate" required>
                <label for="description">Description</label>
              </div>
       
        <div class="row">
            <div class="input-field col s4">
                <i class="material-icons prefix">attach_money</i>
                <input id="price" name="price" type="text" class="validate" required>
                <label for="price">Price</label>
              </div>
              <div class="input-field col s4">
                <i class="material-icons prefix">money_off</i>
                <input id="offerprice" name="offerprice" type="text" class="validate" required>
                <label for="offerprice">Offer Price</label>
              </div>
              <div class="input-field col s4">
                <i class="material-icons prefix">add_shopping_cart</i>
                <input id="stock" name="stock" type="text" class="validate" required>
                <label for="stock">Stock</label>
              </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">star</i>
                <input id="ratings" name="ratings" type="text" class="validate" required>
                <label for="ratings">Ratings</label>
              </div>
              <div class="input-field col s6">
<select name="status">
  <option value="" disabled selected>Choose your option</option>
  <option value="Continue">Continue</option>
  <option value="Discontinue">Discontinue</option>
  
</select>
<label>Status</label>
</div>
   <div class="row">
    <div class="col s12">
        <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" name="picture">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
    </div>
   </div>
        </div>
        /*
        <div class="row">
            <div class="col s6 alignCenter">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
            </div>
            <div class="col s6 alignCenter">
                <button class="btn waves-effect waves-light" type="reset" name="action">Reset
                    <i class="material-icons right">refresh</i>
                  </button>
            </div>
        </div>
       */
        </div>
        </div>
    
     /*
        <div class="modal-footer" ">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="background-color: darkgoldenrod; font-weight: bolder;">Close</a>
        </div>
        */
  </div>
  
</div>
<!-- End Dialog -->
    <% } %>

  
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
/*
 $(document).ready(function(){
    $('.modal').modal();
     $('.btnedit').click(function(){
        
         $('#product').modal('open')
         var item=JSON.parse($(this).attr('products'))
         
         $('#categoryid').val(item.categoryid) //for category fill
         
         $('#subcategoryid').append(
            
                $('<option>').text(item.subcategoryname).val(item.subcategoryid))

                    $('#subcategoryid').val(item.subcategoryid)  // for subcategory fill

                    $('#brandid').append(
                $('<option>').text(item.brandname).val(item.brandid))  // for brand
                        alert(item.brandid)  
                        console.log(item.brandid) 
                         $('#brandid').val(item.brandid)                      // for brandid fill

         $('#categoryid').formSelect();   // for refresh categoryid
         $('#subcategoryid').formSelect();  // for refresh subcategoryid
         $('#brandid').formSelect();   // for refresh brandid
     })

}); */
</script>
</html>